.calc{
    width: 400px;
    height: 600px;
    background: gray;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;

}
body{
        display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#screen{
    width: 85%;
    margin-left: 26px;
    height: 50px;
    margin-top: 20px;
    pointer-events: none;
    text-align: right;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25px;
}
.btn{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    margin-top: 25px;
    background: lightpink;
    font-size: 20px;
    border-radius: 7px;
}
.buttons{
    padding-top: 30px;
}
.btn-clear{
    width: 70px;
    height: 50px;
    margin-left: 40px;
    margin-top: 25px;
    background: lightpink;
    font-size: 20px;
    border-radius: 7px;
}


